<%- include partials/header.ejs %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.3.0/web3.min.js"></script>

<script>
    let paymentConnected = false;
    let web3;
    let account;
    const connectContracts = async () => {
        const transactionABI = [
	{
		"inputs": [],
		"name": "deposit",
		"outputs": [],
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "getAddress",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "getBalance",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address payable",
				"name": "_to",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "_amount",
				"type": "uint256"
			}
		],
		"name": "withdraw",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	}
]; // Include your contract ABI here
        const transactionContractAddress = "0xa10f1086b18defa615b1abc353b9dfc6ae5cadb8"; // Replace with your contract address

        window.web3 = new Web3(window.ethereum);
		console.log("Before Transaction contract initialization");
		window.transactContract = new window.web3.eth.Contract(transactionABI, transactionContractAddress);
		console.log("After Transaction contract initialization");

        const promoteABI = [ 
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "customer",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "string",
				"name": "deliveryaddress",
				"type": "string"
			}
		],
		"name": "OrderRequested",
		"type": "event"
	},
	{
		"inputs": [],
		"name": "getAddress",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "customer",
				"type": "address"
			}
		],
		"name": "getOrderDetails",
		"outputs": [
			{
				"internalType": "string",
				"name": "deliveryaddress",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"name": "orders",
		"outputs": [
			{
				"internalType": "string",
				"name": "deliveryaddress",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "string",
				"name": "deliveryaddress",
				"type": "string"
			}
		],
		"name": "requestOrder",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "totalOrders",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
]; // Include your contract ABI here
        const promoteContractAddress = "0xa4da4feabafb1febeba3be5782556490c722e12b"; // Replace with your contract address

        window.web3 = new Web3(window.ethereum);
		console.log("Before Promote contract initialization");
        window.promoteContract = new window.web3.eth.Contract(promoteABI, promoteContractAddress);
		console.log("After Promote contract initialization");

        console.log("Connected to contracts");
    }

    const initWeb3 = async () => {
        const isLoggedIn = sessionStorage.getItem('isLoggedIn') === 'true';

        if (!isLoggedIn) {
            // Redirect to signin page
            window.location.href = '/signin';
            return;
        }

        if (window.ethereum) {
            try {
                // Request account access if needed
                const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
                // Use MetaMask provider
                web3 = new Web3(window.ethereum);
                // Enable all buttons with the class "payment-btn"
                enablePaymentButtons();
                console.log('Connected to MetaMask');
            } catch (error) {
                console.error('User denied account access or MetaMask is not installed:', error);
            }
        } else {
            console.error('MetaMask is not installed');
        }
    }

    const enablePaymentButtons = () => {
        paymentConnected = true;
        var paymentButtons = document.getElementsByClassName('payment-btn');
        for (var i = 0; i < paymentButtons.length; i++) {
            paymentButtons[i].disabled = false;
        }
    }

	
    const confirmpayment = async (amount) => {
        const deliveryaddressInput = document.getElementById("deliveryaddressInput").value;
        // const messageInput = document.getElementById("messageInput").value;

        if (paymentConnected) {
            try {
                const accounts = await ethereum.request({method: "eth_requestAccounts"});
				account = accounts[0];
                // console.log(`Creating ${platform} campaign for ${amount} ETH`);
                console.log('Sending transaction...');
				// console.log('Message Input: '+messageInput);
				console.log('deliveryaddress Input: '+deliveryaddressInput);

				// Call the contract method to deposit the amount
				console.log("Deposit amount: "+amount);
				console.log("Before transferring to contract");
				await depositContract(amount);
				console.log("After transferring to contract");

                // Call the contract method to store the message and URL
				console.log("Before requesting promotion, storing message and url in contract");
				await requestOrder(deliveryaddressInput);

				// Call the contract method to withdraw the accumulated balance
				console.log("Before transferring to owner");
				await withdraw('0x7053B09a3C370F522A5b3aba28652644846948F6',amount);
				console.log("After transferring to owner");

				console.log("Before fetching promotion details");
				await getOrderDetails();

				


                console.log('Transaction successful');
            } catch (error) {
                console.error('Error creating campaign:', error);
            }
        } else {
            console.log('Please connect to MetaMask first.');
        }
    }

	const depositContract = async (amount) => {
            // const amount = document.getElementById("depositInput").value;
            amount = amount * 10000000000000000;
            await window.transactContract.methods.deposit().send({from: account, value: amount});
            console.log("Deposited amount to contract: "+(amount/10000000000000000));
        }

	const withdraw = async (address,amount) => {
			amount = amount * 10000000000000000;
            await window.transactContract.methods.withdraw(address, amount).send({from: account});
			console.log('Amount = ${amount} transferred to address ${address}');
        }

	const requestOrder = async ( deliveryaddressInput) => {
			await window.promoteContract.methods.requestOrder(deliveryaddressInput).send({from: account});
			console.log("After requesting promotion, storing message and url in contract");
		}

	const getOrderDetails = async () => {
			try {
				const result = await window.promoteContract.methods.getOrderDetails(account).call();
				console.log("Promotion details:", result.deliveryaddress);
				console.log("After fetching promotion details, message and url in contract");
			} catch (error) {
				console.error("Error fetching promotion details:", error);
			}
		}

	// Additional styling for payment buttons
    const stylePaymentButtons = () => {
        var paymentButtons = document.getElementsByClassName('payment-btn');
        for (var i = 0; i < paymentButtons.length; i++) {
            paymentButtons[i].classList.add('btn', 'btn-primary'); // Add Bootstrap button classes
            paymentButtons[i].style.padding = '10px';
            paymentButtons[i].style.cursor = 'pointer';
        }
    }

    // Connect to MetaMask and contract on page load
    window.addEventListener('load', async () => {
        await initWeb3();
        await connectContracts();
    });
</script>

<div class="jumbotron">
    <h1 class="display-4">Buy Healthy medicine</h1>
    <p class="lead">buy your medicines</p>
    <hr class="my-4">


        <hr class="my-4">
        <div class="medicine-container">
          <div class="medicine-item">
            <img src="https://images.app.goo.gl/UhRxxR8jBURnq8Ji8" alt="medicine 1">
            <p class="medicine-description">paracetemol tablet</p>
            <p class="medicine-price">Price: 0.04 ETH</p>
            <button class="btn btn-success btn-lg payment-btn" onclick="confirmpayment('0.04')" disabled> Pay 0.02 ETH</button>
          </div>
       
          <div class="medicine-item">
            <img src="https://images.app.goo.gl/V2VJQcjbkHmAucet6" alt="medicine 2">
            <p class="medicine-description">calpol syrup</p>
            <p class="medicine-price">Price: 0.05 ETH</p>
            <button class="btn btn-success btn-lg payment-btn" onclick="confirmpayment('0.05')" disabled> Pay 0.04 ETH</button>
          </div>
         
          <div class="medicine-item">
            <img src="https://images.app.goo.gl/UwEXNvauqh1Cz6kd8" alt="medicine 3">
            <p class="medicine-description">Benadryl</p>
            <p class="medicine-price">Price: 0.03 ETH</p>
            <button class="btn btn-success btn-lg payment-btn" onclick="confirmpayment('0.06')" disabled> Pay 0.06 ETH</button>
          </div>

    <div class="campaign-container">
		
        <label for="deliveryaddressInput">deliveryaddress:</label>
        <input type="text" id="deliveryaddressInput" placeholder="Enter your  deliveryaddress">

        
    </div>
</div>

<style>
    .campaign-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .campaign-item {
        width: 30%;
        margin-bottom: 20px;
    }

	label {
        display: block;
        margin-top: 10px;
    }

	.payment-btn {
        /* Additional styling for payment buttons */
        background-color: #9aa728; 
        border: none;
        color: #fff;
        border-radius: 5px;
        font-size: 16px;
        padding: 10px;
        cursor: pointer;
    }


    .medicine-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* or use space-around for some space between items */
  }
 
  .medicine-item {
    width: 30%; /* Adjust the width as per your design */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
  }
 
  .medicine-item img {
    max-width: 50%; /* Ensure the image doesn't exceed the width of the container */
    height: auto; /* Maintain the aspect ratio of the image */
  }
</style>

<%- include partials/footer.ejs %>
